
<br>
<div>
    <span><span style="display: inline-block; width: 175px; font-weight: bold;">BOTANICAL NAME : </span><span> {{ botName}}</span></span>
</div>
<br>
<div>
    <span><span style="display: inline-block; width: 175px; font-weight: bold;">PASSPORT NO. : </span><span> {{ passport }} </span></span>
</div>
<br>
<div>
    <span><span style="display: inline-block; width: 175px; font-weight: bold;">PLANT ID : </span><span> {{ plantID }}</span></span>
</div>
<br>
<div>
    <span><span style="display: inline-block; width: 175px; font-weight: bold;">ORIGIN : </span><span> UK </span></span>
</div>
